.page {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  width: 750px;
  .card {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    .long-banner {
      width: 750px;
      height: 1334px;
    }
  }
  .card-1 {
    display: flex;
    position: absolute;
    bottom: 48px;
    align-items: flex-start;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    width: 659px;
    height: 1237px;
    overflow: hidden;
    .group {
      display: flex;
      position: absolute;
      bottom: 12px;
      left: 0;
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      background-size: contain;
      background-image: url(https://ai-sample.oss-cn-hangzhou.aliyuncs.com/test/df34cf90a24711ebb40d83c5f8e78746.png);
      width: 659px;
      height: 138px;
      .view {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        margin-top: 45px;
        background-color: #ffffff;
        background-image: linear-gradient(
          to top,
          rgb(255, 87, 111),
          rgb(236, 44, 86)
        );
        width: 195px;
        height: 63px;
        overflow: hidden;
        .icon {
          margin-right: 39px;
          width: 17px;
          height: 19px;
          overflow: hidden;
        }
        .title {
          margin-top: -1px;
          margin-right: 37px;
          text-align: center;
          text-decoration: none;
          line-height: 30px;
          letter-spacing: 0.72916674613953px;
          white-space: nowrap;
          color: #ffffff;
          font-size: 30px;
        }
        .icon-1 {
          width: 17px;
          height: 19px;
          overflow: hidden;
        }
      }
    }
    .primary {
      display: flex;
      position: relative;
      align-items: center;
      flex-direction: column;
      margin-top: 14px;
      background-color: #eb2b55;
      width: 632px;
      height: 1084px;
      overflow: hidden;
      color: #ffffff;
      .rule {
        position: relative;
        margin-top: 54px;
        max-width: 620px;
        height: 37px;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        line-height: 38px;
        letter-spacing: 0px;
        white-space: nowrap;
        font-size: 38px;
      }
      .article {
        webkit-box-orient: vertical;
        display: -webkit-inline-box;
        webkit-line-clamp: 7;
        position: relative;
        margin-top: 38px;
        width: 559px;
        height: 203px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        text-overflow: ellipsis;
        line-height: 29px;
        letter-spacing: 0px;
        font-size: 30px;
      }
      .article-1 {
        webkit-box-orient: vertical;
        display: -webkit-inline-box;
        webkit-line-clamp: 7;
        position: relative;
        margin-top: 30px;
        width: 559px;
        height: 203px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        text-overflow: ellipsis;
        line-height: 29px;
        letter-spacing: 0px;
        font-size: 30px;
      }
      .summary {
        webkit-box-orient: vertical;
        display: -webkit-inline-box;
        webkit-line-clamp: 3;
        position: relative;
        margin-top: 30px;
        width: 558px;
        height: 63px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        text-overflow: ellipsis;
        line-height: 21px;
        letter-spacing: 0px;
        font-size: 30px;
      }
    }
  }
}
